@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
